@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<h1 class="display-4">Tableau de bord Leads</h1>
    <div>
        <ul id = "leads">
        </ul>
    </div>
</div>

@section scripts {
  <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
  <script>
    const connection = new signalR.HubConnectionBuilder()
      .withUrl("/DashBoardHub")
      .build();

    connection.on("ReceiveUpdate", (action, leadObject) => {
      const list = document.getElementById("leads");
      const li   = document.createElement("li");
      
      li.textContent = `${action.toUpperCase()}: $ lead id : ${leadObject.id} \n ${leadObject.lastName}`;
      list.prepend(li);
    });

    connection.start()
      .then(() => console.log("SignalR Connected"))
      .catch(err => console.error(err.toString()));
  </script>
}
